.item-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #5f5f5f;
  color: white;
  padding: 16px;
  border-radius: 8px;
  text-decoration: none;
  transition: transform 0.2s, background-color 0.2s;
  height: 200px;
  overflow: hidden;
}

.item-card:hover {
  transform: scale(1.03);
}

.repo-title {
  margin-bottom: 10px;
  font-size: 1.1rem;
  font-weight: bold;
}

.repo-readme {
  font-size: 0.85rem;
  line-height: 1.4;

  display: -webkit-box;
  -webkit-line-clamp: 6; /* limit to ~6 lines */
  -webkit-box-orient: vertical;
  overflow: hidden;
}