.navbarlist {
    display:inline-block;
    list-style-type:none;
    padding-right: 60px;
}

.navbar{
    margin-top: 0%;
    background-color:#4c3c3c;
    border-bottom: 5px solid gray;
}

.Link{
    color: white;
}